<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <form [formGroup]="productFormGroup" class="card p-4">
        <h1 class="text-center mb-4">Cadastro de Produtos</h1>
        <div class="mb-3">
          <label for="exampleInputId" class="form-label">ID</label>
          <input type="text" class="form-control" formControlName="id" id="exampleInputId" aria-describedby="id">
          <div id="id" class="form-text"></div>
        </div>
        <div class="mb-3">
          <label for="exampleInputNome" class="form-label">NOME</label>
          <input type="text" class="form-control" formControlName="nome" id="exampleInputNome" aria-describedby="nome">
          <div id="nome" class="form-text"></div>
        </div>
        <div class="mb-3">
          <label for="exampleInputDescricao" class="form-label">Descrição</label>
          <input type="text" class="form-control" formControlName="descricao" id="exampleInputDescricao" aria-describedby="descricao">
          <div id="descricao" class="form-text"></div>
        </div>
        <button type="submit" class="btn btn-primary btn-block" (click)="save()">Cadastrar</button>
      </form>
      <h1 class="text-center mt-4">Produtos</h1>
      <div class="card mt-4">
        <table class="table table-striped mb-0">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nome</th>
              <th scope="col">Descrição</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td>{{ product.id }}</td>
              <td>{{ product.nome}}</td>
              <td>{{ product.descricao }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
